<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
        <a href="{% url 'blog:index' %}" class="navbar-brand">
            Logo
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'user:profile' user.pk %}" class="nav-link">
                            Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'user:logout' %}" class="nav-link">
                            Logout
                        </a>
                    </li>
                {% else %}
                    <li class="nat-item">
                        <a href="{% url 'user:login' %}" class="nav-link">
                            Login
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>