{% extends 'base.html' %}

{% block title %}
    Create Post
{% endblock title %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="mt-4 mb-4">
            <p class="text-danger">
                {{ form.title.errors.as_text }}
            </p>
            <label for="{{ form.title.label }}" class="form-label">
                {{ form.title.label }}
            </label>
            {{ form.title }}
        </div>
        <div class="mb-4">
            <p class="text-danger">
                {{ form.body.errors.as_text }}
            </p>
            <label for="{{ form.body.label }}" class="form-label">
                {{ form.body.label }}
            </label>
            {{ form.body }}
        </div>
        <button class="btn btn-primary" type="submit">
            Submit Post
        </button>
    </form>
{% endblock content%}