.errorlist {
    list-style-type: none;
    color: red;
}


.user-data {
    border-right: 1px black solid;
    padding-right: 15px;
    text-align: center;
    height: 100%;
}

.card-header,
.card-body,
.card-footer {
    padding: 10px;
}